<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Insurance_ASP.styles.css" asp-append-version="true" />
</head>

<body>

    <!-- Záhlaví -->
    <header>
        <!-- Navigační menu -->
        <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">-->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PojištěníApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <!-- Položky v menu -->
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item"> 
                            <!-- Odkaz volá metodu PersonsController.Index -->
                            <a class="nav-link text-light" asp-area="" asp-controller="Persons" asp-action="Index">Pojištěnci</a>
                        </li>

                        <li class="nav-item"> 
                            <!-- Odkaz volá metodu InsurancesController.Index -->
                            <a class="nav-link text-light" asp-area="" asp-controller="Insurances" asp-action="Index">Pojištění</a>
                        </li>

                        <li class="nav-item"> 
                            <!-- Odkaz volá metodu IncidentsController.Index -->
                            <a class="nav-link text-light" asp-area="" asp-controller="Incidents" asp-action="Index">Události</a>
                        </li>

                        <li class="nav-item"> 
                            <!-- Odkaz volá metodu HomeController.About -->
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">O aplikaci</a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <!-- Hlavní obsah stránky -->
    <div class="container">
        <main role="main" class="pb-3">

            <!-- Renderovaný obsah stránky v jednotlivých views -->
            @RenderBody()

        </main>
    </div>

    <!-- Zápatí -->
    <footer class="border-top footer text-light bg-dark">
    <!--<footer class="border-top footer text-muted bg-dark">-->
        <div class="container text-center">
            &copy; Jaromír Křížek 2022 - PojištěníApp
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
